
.icon-compass:before { content: '\e800'; } /* '' */
.icon-minus-squared-alt:before { content: '\e801'; } /* '' */
.icon-bullseye:before { content: '\e802'; } /* '' */
.icon-plus-squared-alt:before { content: '\e803'; } /* '' */
.icon-zoom-in:before { content: '\e804'; } /* '' */
.icon-zoom-out:before { content: '\e805'; } /* '' */
.icon-fighter-jet:before { content: '\e806'; } /* '' */
.icon-award:before { content: '\e807'; } /* '' */
.icon-toggle-off:before { content: '\e808'; } /* '' */
.icon-toggle-on:before { content: '\e809'; } /* '' */
.icon-play:before { content: '\e80a'; } /* '' */
.icon-stop:before { content: '\e80b'; } /* '' */
.icon-th:before { content: '\e80c'; } /* '' */
.icon-paste:before { content: '\e80d'; } /* '' */
.icon-bus:before { content: '\e80e'; } /* '' */
.icon-rocket:before { content: '\e80f'; } /* '' */
.icon-fire:before { content: '\e810'; } /* '' */
.icon-trash-empty:before { content: '\e811'; } /* '' */
.icon-brush-1:before { content: '\e812'; } /* '' */